# Server Config
PORT=

# Database Config (dexa_attendance_db)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT Config (dipakai nanti saat buat Auth)
JWT_SECRET=
JWT_EXPIRES_IN=

# RabbitMQ Config (dipakai nanti saat kirim log)
RABBITMQ_URL=